{% assign competition = site.data.competition %}
<section class="competition-page__hero d-flex align-items-center justify-content-between position-relative">
  <img class="position-absolute top-0 start-0" src="{{ '/assets/images/body/yellow_l.036a7443.svg' | relative_url }}"
    alt="Competition Hero Image">
  <img class="position-absolute top-0 end-0" src="{{ '/assets/images/body/yellow_r.35e6e9e0.svg' | relative_url }}"
    alt="Competition Hero Image">
  <div class="text-md-center">
    <h1 class="competition-page__title m-0 text-md-center">{{ competition.hero.title }}</h1>
  </div>
  <span class="competition-page__meta m-auto">{{ competition.hero.meta }}</span>
</section>